@import "tailwindcss";

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  /* background: #f5f5f5; */
  background: #ffffff;

  max-width: 1700px;
  margin: 0 auto;
}
